.Button{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 15px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type{
    margin-left: 0;
    /*padding-left: 0;*/
}

.Success{
    color: #fff;
    background-color: #004a7b;
    border-radius: 5px;
}

.Danger{
    color: #ffffff;
    background-color: #4e0000;
    border-radius: 5px;
}